@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1,h2,h3,h4,h5,h6,p,a,span,li,button{
    font-family: 'Outfit',sans-serif;
    color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.heading{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}