.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

form .field{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    background-color: #080808;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

form .form-button button{
    background-color: #080808;
    outline: none;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
}