/*********************Hero Section*****************/

.hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 0 30px;
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero .content .buttons a {
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid white;
}

/*********************About Section*****************/

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 50px 80px;
}

.about img {
  height: 400px;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}

.about .content p {
  line-height: 30px;
}

@media (max-width: 1300px) {
  .about {
    gap: 60px;
    padding: 30px 60px;
  }
}

@media (max-width: 1100px) {
  .about {
    flex-wrap: wrap;
  }
  .about img {
    width: 100%;
    height: auto;
  }
  .about .content {
    align-items: center;
  }
  .about .content p {
    line-height: 25px;
    text-align: center;
  }
}

/*********************Call to action*****************/

.call-to-action {
  width: 100%;
  height: 300px;
  background-color: #0b0101ab;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.call-to-action h2 {
  font-size: 40px;
}

.call-to-action button {
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid white;
}

@media (max-width: 800px) {
  .call-to-action {
    height: 250px;
    gap: 30px;
  }
  .call-to-action h2 {
    font-size: 30px;
  }

  .call-to-action button {
    padding: 8px 30px;
  }
}

@media (max-width: 450px) {
  .call-to-action h2 {
    font-size: 20px;
  }
}

/*********************Modal*****************/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay .modal {
  width: 600px;
  height: 400px;
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  text-align: center;
  position: relative;
}

.overlay .modal .cross {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .overlay .modal {
    width: 500px;
    height: 250px;
    padding: 15px 30px;
  }
}

@media (max-width: 500px) {
  .overlay .modal {
    width: 300px;
    height: 350px;
    padding: 15px 30px;
  }
}

/*********************FAQs Section*****************/

.faq {
  width: 100%;
  padding: 50px 150px;
}

.faq .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}

.faq .item .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: #080808;
  padding: 20px 30px;
  border-radius: 20px;
}

.faq .item .question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq .item .question img {
  width: 30px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.answers {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.answers.show {
  height: auto;
  max-height: 99999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.reverse {
  transform: rotate(180deg);
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
